<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <h5>Our Company</h5>
        <ul class="footer-nav">
          <li><a href="#">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Pricing</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Support</a></li>
        </ul>

      </div>
      <div class="col-md-2">

      </div>
      <div class="col-md-2">

      </div>
      <div class="col-md-2">

      </div>
      <div class="col-md-4">
        <h4>Sign Up For Our Newsletter!</h4>
      </div>
    </div>
  </div>
</div>



<script src="/js/jQuery.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>
