<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <h5>Our Company</h5>
        <ul class="footer-nav">
          <li><a href="#">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Pricing</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Support</a></li>
        </ul>

      </div>
      <div class="col-md-2">
        <h5>Our Products</h5>
        <ul class="footer-nav">
          <li><a href="#">Prices</a></li>
          <li><a href="#">Packages</a></li>
          <li><a href="#">Software</a></li>
          <li><a href="#">Commitment</a></li>
          <li><a href="#">Product Support</a></li>
        </ul>

      </div>
      <div class="col-md-2">
        <h5>Our Company</h5>
        <ul class="footer-nav">
          <li><a href="#">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Pricing</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Support</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h5>Our Company</h5>
        <ul class="footer-nav">
          <li><a href="#">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Pricing</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Support</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4>Sign Up For Our Newsletter!</h4>
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>

  <div class="copyright">
    <div class="container">
      <p>© Copyright Envocode 2018 | All Rights Reserved.</p>
    </div>
  </div>
</div>





<script src="/js/jQuery.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/width.js"></script>
</body>
</html>
