<footer>
  <div class="footer-grid container">
    <div class="footer footer-ourCompany">
      <h4>Our Company</h4>
      <ul>
        <li>(613) 266-0369</li>
        <li>sales@envocode.com</li>
        <li>22 Weybridge Dr, Ottawa ON</li>
      </ul>
    </div>

    <div class="footer footer-navigation">
      <h4>Navigation</h4>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="portfolio.html">Portfolio</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li><a href="aboutus.html">About Us</a></li>
        <li><a href="contactus.html">Contact Us</a></li>
      </ul>
    </div>

    <div class="footer footer-socialResponsibility">
      <h4>Governance</h4>
      <ul>
        <li><a href="index.html">Social Responsibility</a></li>
        <li><a href="portfolio.html">Careers</a></li>
        <li><a href="blog.html">Our Team</a></li>
      </ul>
    </div>

    <div class="footer footer-socialLinks">
      <h4>Social Media</h4>
      <ul>
        <li><a href="index.html">Twitter</a></li>
        <li><a href="portfolio.html">Facebook</a></li>
        <li><a href="blog.html">Instagram</a></li>
        <li><a href="blog.html">YouTube</a></li>
      </ul>
    </div>
  </div>
</footer>

<div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <small>Copyright &copy EnvoCode 2019 | All Rights Reserved.</small>
      </div>
      <div class="col-md-7" id="legal-links">
        <ul>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Cookie Policy</a></li>
          <li><a href="#">Terms of Service</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="js/main.js"></script>
</body>
</html>
