<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <ul class="nav flex-column">
          <h6>Products</h6>
          <li class="nav-item">
            <a class="nav-link" href="#">Active</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Active</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Active</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Active</a>
          </li>
        </ul>

      </div>
      <div class="col-md-2">

      </div>
      <div class="col-md-2">

      </div>
      <div class="col-md-2">

      </div>
      <div class="col-md-4">
        <h4>Sign Up For Our Newsletter!</h4>
      </div>
    </div>
  </div>
</div>



<script src="/js/jQuery.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>
