<!DOCTYPE html>
<html>
<head>
  <title>Envocode - Homepage</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link hr<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" href="css/bootstrap.css" type="text/css">
  <link rel="stylesheet" href="css/animate.css">
  <link rel="stylesheet" href="css/style.css" type="text/css">
  <!-- <link rel="shortcut icon" type="image/png" href="img/favicon.png"> -->
</head>

<body>

  <div class="landing">
    <!-- ============================= -->
    <!-- Carousel Item Begins Here -->
    <!-- ============================= -->
    <nav id="navbar" class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <a class="navbar-brand" href="#"><img id="logo" src="img/GREEN.png" alt="logo"/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link active" href="/">Home<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/portfolio">Portfolio</a>
            <a class="nav-item nav-link" href="/aboutus">About Us</a>
            <a class="nav-item nav-link" href="/contactus">Contact Us</a>
          </div>
        </div>
      </div>
    </nav>
