<% include partials/header %>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <picture>
        <source media="(min-width: 768px)" srcset="img/background3.png">
        <source media="(min-width: 414px)" srcset="img/slider-medium-about.png">
        <img src="img/slider-small-about.png" class="d-block" alt="Slider Image">
      </picture>
      <div class="carousel-caption d-none d-md-block carousel-portfolio">
        <h2>Our Mission and Objectives</h2>
        <p>Our business succeeds by helping your business succeed. Our greatest pleasure is helping your business grow in the online marketplace.</p>
      </div>
    </div>
  </div>
</div>
</div>

<section class="aboutus">
  <div class="container ourStory">
    <h2 id="ourStory">Our Story</h2>
    <div class="column1 container">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
    </div>
    <div class="column2 container">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
    </div>
  </div>
</section>


<section class="statistics">
  <div class="container">
    <div class="statistics-wrapper">
      <div class="circle">
        <div class="circle-inner">
          <h4>10</h4>
          <h6>Employees</h6>
        </div>
      </div>
      <div class="circle">
        <div class="circle-inner">
          <h4>4</h4>
          <h6>Corporate Partners</h6>
        </div>
      </div>
      <div class="circle">
        <div class="circle-inner">
          <h4>302</h4>
          <h6>Inner Title</h6>
        </div>
      </div>
      <div class="circle">
        <div class="circle-inner">
          <h4>302</h4>
          <h6>Inner Title</h6>
        </div>
      </div>
      <div class="circle">
        <div class="circle-inner">
          <h4>302</h4>
          <h6>Inner Title</h6>
        </div>
      </div>
      <div class="circle">
        <div class="circle-inner">
          <h4>302</h4>
          <h6>Inner Title</h6>
        </div>
      </div>
      <div class="circle">
        <div class="circle-inner">
          <h4>302</h4>
          <h6>Inner Title</h6>
        </div>
      </div>
      <div class="circle">
        <div class="circle-inner">
          <h4>302</h4>
          <h6>Inner Title</h6>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="ourTeam">
  <div class="container">
    <h2 class="title">Our Team</h2>
    <div class="ourTeam-wrapper">
      <div class="teamCard">
        <div class="inner-profile-pic">
          <img src="img/headshot.png" alt="profile image">
        </div>
        <div class="inner-content">
          <h5>Benjamin Alan</h5>
          <p class="rank">Founder / CEO</p>
          <p class="description">A short description talking about what you like and dislike and stuff like that.</p>
        </div>
        <div class="inner-social">
          <a href="http://www.twitter.com/thebenalan"><i class="fab fa-twitter-square"></i></a>
          <a href="http://www.facebook.com/thebenalan"><i class="fab fa-facebook"></i></a>
          <a href="http://www.instagram.com/thebenalan"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
      <div class="teamCard">
        <div class="inner-profile-pic">
          <img src="img/headshot.png" alt="profile image">
        </div>
        <div class="inner-content">
          <h5>Benjamin Alan</h5>
          <p class="rank">Founder / CEO</p>
          <p class="description">A short description talking about what you like and dislike and stuff like that.</p>
        </div>
        <div class="inner-social">
          <a href="http://www.twitter.com/thebenalan"><i class="fab fa-twitter-square"></i></a>
          <a href="http://www.facebook.com/thebenalan"><i class="fab fa-facebook"></i></a>
          <a href="http://www.instagram.com/thebenalan"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
      <div class="teamCard">
        <div class="inner-profile-pic">
          <img src="img/headshot.png" alt="profile image">
        </div>
        <div class="inner-content">
          <h5>Benjamin Alan</h5>
          <p class="rank">Founder / CEO</p>
          <p class="description">A short description talking about what you like and dislike and stuff like that.</p>
        </div>
        <div class="inner-social">
          <a href="http://www.twitter.com/thebenalan"><i class="fab fa-twitter-square"></i></a>
          <a href="http://www.facebook.com/thebenalan"><i class="fab fa-facebook"></i></a>
          <a href="http://www.instagram.com/thebenalan"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
      <div class="teamCard">
        <div class="inner-profile-pic">
          <img src="img/headshot.png" alt="profile image">
        </div>
        <div class="inner-content">
          <h5>Benjamin Alan</h5>
          <p class="rank">Founder / CEO</p>
          <p class="description">A short description talking about what you like and dislike and stuff like that.</p>
        </div>
        <div class="inner-social">
          <a href="http://www.twitter.com/thebenalan"><i class="fab fa-twitter-square"></i></a>
          <a href="http://www.facebook.com/thebenalan"><i class="fab fa-facebook"></i></a>
          <a href="http://www.instagram.com/thebenalan"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>


<% include partials/footer %>
