<% include partials/header %>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <picture>
        <source media="(min-width: 768px)" srcset="img/background4.png">
        <source media="(min-width: 414px)" srcset="img/slider-medium-contact.png">
        <img src="img/slider-small-contact.png" class="d-block" alt="Slider Image">
      </picture>
      <div class="carousel-caption d-none d-md-block carousel-portfolio">
        <h2>Get In Touch With Us</h2>
        <p>Find out how we can help your business re-design your online presence and drive sales.</p>
      </div>
    </div>
  </div>
</div>
</div>

<div class="contactus-main-text">
  <div class="container">
    <div class="contactus-main">
      <h3>Contact Us</h3>
      <p>Have any questions you would like answered? Get in touch with us today and we will make sure your questions and concerns get addressed.</p>
    </div>
  </div>
</div>


<div class="contact-form" id="contact-form">
  <div class="container">
    <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">First Name</label>
          <input type="text" class="form-control" id="inputEmail4" placeholder="John">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Last Name</label>
          <input type="text" class="form-control" id="inputPassword4" placeholder="Smith">
        </div>
      </div>
      <div class="form-group">
        <label for="inputAddress">Email</label>
        <input type="email" class="form-control" id="inputAddress" placeholder="johnsmith@gmail.com">
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <textarea name="description" id="description" cols="30" rows="10" class="form-control"></textarea>
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>
</div>

<div class="find-us">
  <div class="find-us-left">

  </div>
  <div class="find-us-right">
    <h3>How You Can Reach Us</h3>
    <ul>
      <li>(613)266-0369</li>
      <li>22 Weybridge Dr, Ottawa Ontario</li>
      <li>sales@envocode.com</li>
    </ul>
  </div>
</div>

<div class="business-hours">
  <div class="hours-block">
    <h3>Office Hours</h3>
    <ul>
      <li>Monday: 9:00am - 5:00pm</li>
      <li>Tuesday: 9:00am - 5:00pm</li>
      <li>Wednesday: 9:00am - 5:00pm</li>
      <li>Thursday: 9:00am - 5:00pm</li>
      <li>Friday: 9:00am - 5:00pm</li>
    </ul>
  </div>
</div>


<% include partials/footer %>
