<% include partials/header %>

<!-- ============================= -->
<!-- Carousel Item Begins Here -->
<!-- ============================= -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <picture>
        <source media="(min-width: 768px)" srcset="img/slider1.png">
        <source media="(min-width: 414px)" srcset="img/slider-medium.png">
        <img src="img/slider-small.png" class="d-block" alt="Slider Image">
      </picture>
      <div class="carousel-caption d-none d-md-block carousel-portfolio animated delay-1s fadeInUp">
        <h2>We Build Awesome Websites</h2>
        <p>Increase your online sales and traffic with a custom built website taylored to your business needs.</p>
      </div>
    </div>

    <div class="carousel-item">
      <picture>
        <source media="(min-width: 768px)" srcset="img/slider2-large.png">
        <source media="(min-width: 414px)" srcset="img/slider2-medium.png">
        <img src="img/slider2-small.png" class="d-block" alt="Slider Image">
      </picture>
      <div class="carousel-caption d-none d-md-block carousel-portfolio animated delay-1s fadeInUp">
        <h2>Browse our portfolio</h2>
        <p>Browse through the work we've done for our previous clients.</p>
        <button class="btn-slider">Our Portfolio</button>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>

<div class="information-columns">
<div class="container">
  <div class="column-grid">
    <div class="individual-section">
      <div class="icon">
        <i class="fas fa-archive"></i>
      </div>
      <div class="information-content">
        <h4>Complete Package</h4>
        <p>We offer the complete package, from consumer research to website development and launch.</p>
      </div>
    </div>
    <div class="individual-section">
      <div class="icon">
        <i class="fab fa-accessible-icon"></i>
      </div>
      <div class="information-content">
        <h4>Accessibility</h4>
        <p>We structure all our websites around accessibility that every one of your customers can use.</p>
      </div>
    </div>
    <div class="individual-section">
      <div class="icon">
        <i class="fab fa-algolia"></i>
      </div>
      <div class="information-content">
        <h4>On Schedule</h4>
        <p>We pride ourselves on delivering our agreed upon deliverables on the correct dates.</p>
      </div>
    </div>
    <div class="individual-section">
      <div class="icon">
        <i class="fas fa-users"></i>
      </div>
      <div class="information-content">
        <h4>User Focused Design</h4>
        <p>We design and develop your website with the end user in mind.</p>
      </div>
    </div>
    <div class="individual-section">
      <div class="icon">
        <i class="fas fa-archive"></i>
      </div>
      <div class="information-content">
        <h4>Text Goes Here</h4>
        <p>Lorem ipsum is a language made specifically for web developers to fill in bullshit words.</p>
      </div>
    </div>
    <div class="individual-section">
      <div class="icon">
        <i class="fas fa-archive"></i>
      </div>
      <div class="information-content">
        <h4>Text Goes Here</h4>
        <p>Lorem ipsum is a language made specifically for web developers to fill in bullshit words.</p>
      </div>
    </div>
    <div class="individual-section">
      <div class="icon">
        <i class="fas fa-archive"></i>
      </div>
      <div class="information-content">
        <h4>Text Goes Here</h4>
        <p>Lorem ipsum is a language made specifically for web developers to fill in bullshit words.</p>
      </div>
    </div>
    <div class="individual-section">
      <div class="icon">
        <i class="fas fa-archive"></i>
      </div>
      <div class="information-content">
        <h4>Text Goes Here</h4>
        <p>Lorem ipsum is a language made specifically for web developers to fill in bullshit words.</p>
      </div>
    </div>
  </div>
</div>
</div>

<div class="call-to-action">
<div class="container">
  <div class="call-to-action-content">
    <h3>Get a FREE quote from our development team today!</h3>
    <a href="#" class="btn btn-lrg btn-envo">GET A QUOTE</a>
  </div>
</div>
</div>

<div class="timeline">
<ul>
  <li>
    <div class="content">
      <h3>Project Start</h3>
      <p>Projects always start the same way. We spend an hour with you personally (via skype) to find out exactly what your business needs. In this process, we take detailed notes as to what the project needs, the deliverables, and we discuss the budget for the entire project.</p>
    </div>
    <div class="time">
      <h4>Week 1</h4>
    </div>
  </li>

  <li>
    <div class="content">
      <h3>Market Research</h3>
      <p>Next, we take all the information that we gathered during our meeting and begin our marketing research. Based on our market research, we will mind-map the business needs, create customer personas, and begin designing the website structure. This research will help us design the user experience for your website.</p>
    </div>
    <div class="time">
      <h4>Deliverables: Market research & personas</h4>
    </div>
  </li>

  <li>
    <div class="content">
      <h3>Wireframing</h3>
      <p>Once we know exactly what we need for your website, we will begin wireframing based on your wants / needs. We will wireframe the entire website to ensure everything is exactly how you want it. Once we come to an agreement and you approve the wireframes, we will begin the prototyping process.</p>
    </div>
    <div class="time">
      <h4>Deliverables: Website Wireframes</h4>
    </div>
  </li>

  <li>
    <div class="content">
      <h3>What is Lorem Ipsum</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="time">
      <h4>Jan 2018</h4>
    </div>
  </li>

  <li>
    <div class="content">
      <h3>What is Lorem Ipsum</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="time">
      <h4>Jan 2018</h4>
    </div>
  </li>

  <li>
    <div class="content">
      <h3>What is Lorem Ipsum</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="time">
      <h4>Jan 2018</h4>
    </div>
  </li>

  <li>
    <div class="content">
      <h3>What is Lorem Ipsum</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="time">
      <h4>Jan 2018</h4>
    </div>
  </li>
  <div style="clear: both;"></div>
</ul>
</div>

<% include partials/footer %>
