<% include partials/header %>
    <div class="temporary">
      <div class="row">
        <div class="col-md-6">
          <img class="slider-left" src="/images/slider.jpg"/>
        </div>
        <div class="col-md-6">
          <div class="slider-right">
            <h3>Header</h3>
            <p>This is where a paragraph will go and say some stuff about the company in the
            future. We will say some pretty awesome stuff here though.</p>
          </div>
        </div>


      </div>

    </div>

    <div class="features">
      <h4>POWERFUL CUSTOM WEB APPLICATIONS</h4>
    </div>

    <div class="features-1">
      <div class="row">
        <div class="col-md-2 col-xs-12">
          <i class="fab fa-node"></i>
        </div>
        <div class="col-md-10 col-xs-12">
          <div class="features-1-content">
            <h1>Fast Apps Built With Node.js</h1>
            <p>We develop our web applications using the best serverside coding language to date: node.js.
              Our developers work hard to stay on top of new technology to give you the best applications on the
              internet.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="features-2">
      <div class="row">
          <div class="col-md-6">
            <img src="https://i.gyazo.com/175b515bb57ef9c15de53809e0aa4253.png" id="code"/>
          </div>
          <div class="col-md-6">
            <div class="content-2">
              <h3>Integrating Best Node Frameworks!</h3>
            </div>

          </div>
      </div>
    </div>




    <script src="../public/js/popper.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<% include partials/footer %>
