<% include partials/header %>
    <div class="temporary">
      <div class="row slider" id="slide1">
          <div class="col-md-6">
            <img class="slider-left" src="/images/slider.jpg"/>
          </div>
          <div class="col-md-6 slider" id="slide1">
            <div class="slider-right BoundInDown">
              <h3>Header</h3>
              <p>This is where a paragraph will go and say some stuff about the company in the
              future. We will say some pretty awesome stuff here though.</p>
            </div>
          </div>
      </div>


    <div class="features">
      <h4>POWERFUL CUSTOM WEB APPLICATIONS</h4>
    </div>

    <div class="features-1">
      <div class="row">
        <div class="col-md-2 col-xs-12">
          <i class="fab fa-node"></i>
        </div>
        <div class="col-md-10 col-xs-12">
          <div class="features-1-content">
            <h1>Fast Apps Built With Node.js</h1>
            <p>We develop our web applications using the best serverside coding language to date: node.js.
              Our developers work hard to stay on top of new technology to give you the best applications on the
              internet.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="features-2" id="features2">
      <div class="row">
          <div class="container column-section">
            <div class="row">
              <div class="col-md-4">
                <h4><i class="fas fa-award"></i><strong>  Beautifully Designed</strong></h4>
                <p>Our team is extremely talented at making your dream website a reality. We specialize on front end as well as back end development.</p>
              </div>
              <div class="col-md-4">
                <h4><i class="fas fa-award"></i><strong>  Dynamic Functionality</strong></h4>
                <p>Lorem ipsum is the way to go with the language and i love to type random crap</p>
              </div>
              <div class="col-md-4">
                <h4><i class="fas fa-award"></i><strong> One of A Kind</strong></h4>
                <p>All of our web applications are coded completely by hand using the node.js. Our team specializes in creating custom made, functional web applications for any purpose.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
            <div class="container column-section">
              <div class="row">
                <div class="col-md-4">
                  <h4><i class="fas fa-award"></i><strong>Time Focused</strong></h4>
                  <p>Once we determine the length of a project, we keep on schedule! Our team knows the importance of delivering our services in a timely manner and work diligently to deliver as stated.</p>
                </div>
                <div class="col-md-4">
                  <h4><i class="fas fa-award"></i><strong>Beautifully Designed</strong></h4>
                  <p>Lorem ipsum is the way to go with the language and i love to type random crap</p>
                </div>
                <div class="col-md-4">
                  <h4><i class="fas fa-award"></i><strong>Title</strong></h4>
                  <p>Lorem ipsum is the way to go with the language and i love to type random crap</p>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
              <div class="container column-section">
                <div class="row">
                  <div class="col-md-4">
                    <h4><i class="fas fa-award"></i><strong> Beautifully Designed</strong></h4>
                    <p>Lorem ipsum is the way to go with the language and i love to type random crap</p>
                  </div>
                  <div class="col-md-4">
                    <h4><i class="fas fa-award"></i><strong> Functionality</strong></h4>
                    <p>Lorem ipsum is the way to go with the language and i love to type random crap</p>
                  </div>
                  <div class="col-md-4">
                    <h4><i class="fas fa-award"></i><strong>Title</strong></h4>
                    <p>Lorem ipsum is the way to go with the language and i love to type random crap</p>
                  </div>
                </div>
              </div>
            </div>
    </div>


<% include partials/footer %>
