<% include partials/header %>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <picture>
        <source media="(min-width: 768px)" srcset="img/background2.jpeg">
        <source media="(min-width: 414px)" srcset="img/slider-medium-portfolio.png">
        <img src="img/slider-small-portfolio.png" class="d-block" alt="Slider Image">
      </picture>
      <div class="carousel-caption d-none d-md-block carousel-portfolio">
        <h2>Whats New And Noteworthy.</h2>
        <p>Explore our featured projects to learn more about how we bring design and development together to help our clients make the most of a digital world.</p>
      </div>
    </div>
  </div>
</div>
</div>


<section class="projects-wrapper">
  <div class="container">
    <a href="#" class="continuum-card">
      <div class="card-inner">
        <div class="card-image-wrapper">
          <img src="img/project.png" class="card-image" alt="">
        </div>
        <div class="card-content">
          <div class="card-title">
            <h3>The Acting Company - Website Re-Design</h3>
          </div>
          <div class="card-heading">
            <span>Corporate Website Development</span>
          </div>
          <div class="card-logo">
          </div>
        </div>
      </div>
    </a>

    <a href="#" class="continuum-card">
      <div class="card-inner">
        <div class="card-image-wrapper">
          <img src="img/project2.png" class="card-image" alt="">
        </div>
        <div class="card-content">
          <div class="card-title">
            <h3>This is the project title</h3>
          </div>
          <div class="card-heading">
            <span>test</span>
          </div>
          <div class="card-logo">
          </div>
        </div>
      </div>
    </a>
  </div>
</section>

<% include partials/footer %>
