<% include partials/header %>

<div class="header-image">
  <div class="header-container">
    <h2 class="header-content">Prices and Packages</h2>
    <p class="header-content">Below are a list of our product packages. If you have any questions or concerns, feel free to contact us here!</p>
  </div>
</div>

<div class="prices">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Baby Package</h4>
            <h5 class="card-title">$400</h5>
            <p class="card-text">
              This is the text associated with the packages.
            </p>
            <ul style="margin: 10% 10%;">
              <li></i> Custom Code</li>
              <li></i> Free SSL Certificate</li>
              <li></i> Free Domain Name</li>
              <li></i> Trusted Deployment</li>
            </ul>
            <a href="/dashboard/contact" class="btn btn-primary">Add To Cart</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Small Business Package</h4>
            <h5 class="card-title">$1200</h5>
            <p class="card-text">
              This is the text associated with the packages.
            </p>
            <ul style="margin: 10% 10%;">
              <li> Custom Code</li>
              <li> Free SSL Certificate</li>
              <li> Free Domain Name</li>
              <li> Trusted Deployment</li>
              <li> User Authentication</li>
              <li> Customizable Features</li>
              <li> Dashboard</li>
              <li> 6 Month Support</li>
            </ul>
            <a href="/dashboard/contact" class="btn btn-primary">Get A Quote</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Large Business</h4>
            <p class="card-text">
              This is the text associated with the packages.
            </p>
            <ul style="margin: 10% 10%;">
              <li>Custom Code</li>
              <li>Free SSL Certificate</li>
              <li>Free Domain Name</li>
              <li>Trusted Deployment</li>
            </ul>
            <a href="/dashboard/contact" class="btn btn-primary">Get A Quote</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<% include partials/footer %>
