<% include partials/header %>

<div class="prices">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Baby Package</h4>
            <p class="card-text">
              This is the text associated with the packages.
            </p>
            <ul style="margin: 10% 10%;">
              <li>Custom Code</li>
              <li>Free SSL Certificate</li>
              <li>Free Domain Name</li>
              <li>Trusted Deployment</li>
            </ul>
            <a href="/dashboard/contact" class="btn btn-primary">Inbox</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Small Business Package</h4>
            <p class="card-text">
              This is the text associated with the packages.
            </p>
            <ul style="margin: 10% 10%;">
              <li>Custom Code</li>
              <li>Free SSL Certificate</li>
              <li>Free Domain Name</li>
              <li>Trusted Deployment</li>
            </ul>
            <a href="/dashboard/contact" class="btn btn-primary">Inbox</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Large Business</h4>
            <p class="card-text">
              This is the text associated with the packages.
            </p>
            <ul style="margin: 10% 10%;">
              <li>Custom Code</li>
              <li>Free SSL Certificate</li>
              <li>Free Domain Name</li>
              <li>Trusted Deployment</li>
            </ul>
            <a href="/dashboard/contact" class="btn btn-primary">Inbox</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<% include partials/footer %>
