<% include partials/header %>

<div class="header-image">
  <div class="header-container">
    <h2 class="header-content">Customer Support</h2>
    <p class="header-content">Need assistance? We're here to help! If the answer to your question is not found in our Q&A, feel free to use the form below and we will reach out to you directly.</p>
  </div>
</div>

<% include partials/footer %>
