* {
  margin: 0;
  padding: 0;
}

html, body
{
    height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #79589F;
  height: 100%;
}

a {
  color: #79589F;
}

a:hover {
  text-decoration: none;
  color: black;
  transition: .3s;
}

/* Navigation Section  */
.navbar {
  z-index: 1;
}

.carousel {
  min-height: 200px;
}

.heading {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 2rem;
}

.white {
  color: white;
}
.btn-primary {
    color: #fff;
    background: rgb(135,93,221);
    background: linear-gradient(90deg, rgba(135,93,221,1) 0%, rgba(114,94,158,1) 100%);
    border-color: rgb(135,93,221);
    height: 35px;
}
.btn {
  line-height: 1.3;
}

#register {
  margin-left: 10px;
}


/* Temporary section to be replaced with slider soon */

.temporary {
  height: 500px;
}

.slider-left {
  width: 400px;
  display: block;
  float: right;
  margin: 2rem 0;
}

.slider-right {
  width: 300px;
  display: block;
  float: left;
  margin: 10rem 0;
}



/* Features section  */
.features {
  height: 100px;
  background-color: #f9f9fb;
  border-top: 1px solid #dfdfdf
}

.features h4 {
  text-align: center;
  margin: 2rem 0;
  color: #9a9a9a;
  font-family: 'Roboto', sans-serif;
}


/* Node Section */
.features-1 {
  background: rgb(135,93,221);
  background: linear-gradient(90deg, rgba(135,93,221,1) 0%, rgba(114,94,158,1) 100%);
}

.features-1-content {
  color: white;
  margin: 3rem 3rem;
  font-family: 'Roboto', sans-serif;
}

.fa-node  {
  font-size: 100px;
  text-align: center;
  display: block;
  margin: 0 auto;
  color: white;
  padding: 3rem 3rem;
}

/* Four Column Section */

#features2 {
  background: url('/images/background.png');
  background-size: cover;
}

.column-section {
  margin:1% auto;
}

.column-content {
  text-align: center;
}

.column-section h4 {
  margin: 5% 0;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}

.column-section p {
  font-size: 15px;
}

.icon {
  font-size: 50px;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}

.column-section i{
  display: block;
  margin: 0 auto;
}

.content-section {
  margin: 4% 0;
}


/* PORTOLIO SECTION */

#portfolioH2 {
  margin: 2% auto;
  color: white;
}

.portfolio {
  margin: 0 auto;
}

.video {
  background: rgb(135,93,221);
  background: linear-gradient(90deg, rgba(135,93,221,1) 0%, rgba(114,94,158,1) 100%);
  padding: 2% 0;
}

.recent-portfolio:hover {
  background-color: blue;

}
.recent-portfolio img:hover {
  opacity: 0.5;
  transition: .2s;
}
#showcaseTitle {
  margin: 0 auto;
  margin-bottom: 2%;
}




/* TESTIMONIALS SECTION */

.testimonials {
  margin: 0 auto;
  margin-bottom: 2%;
  background: url('/images/background.png');
  background-size: cover;

}

.testimonials h2{
  margin: 3% auto;
}

#left {
  margin: 110% 0;
}

#left:hover {
  color: #5a3c7d;
  transition: 1s;
}

#right {
  margin: 110% 0;
}

#right:hover {
  color: #5a3c7d;
  transition: 1s;
}

.dots {
  margin: 1% auto;
  display: block;
  text-align: center;
}


/* Social Section */

.social {
  background-color: #fbfafd;
}

.card {
  margin: 2rem auto;
}


/* Footer Styles */

.footer {
  background-color: #f7f7f7;
  background-size: cover;
  padding-top: 2%;
}

.footer-nav li {
  list-style: none;
  margin: 0 0;
  padding: 0;
}

.footer-nav {
  margin: 0 0;
  padding: 0;
}

.copyright {
  padding: 0;
  height: 3rem;
  background-color: #79589F;
  line-height: 3rem;
  color: white;
  margin-top: 2%;
}




/* ============================ */
/* Showcase Specific Styles */
/* ============================ */







/* ============================ */
/* Prices Specific Styles */
/* ============================ */

.header-image {
  background: url('/images/header.png');
  background-size: cover;
  height: 30%;
  color: white;
  margin-bottom: 1%;
}

.header1-image {
  background: url('/images/header1.png');
  background-size: cover;
  height: 30%;
  color: white;
  margin-bottom: 1%;
}

.header-container {
  padding: 5rem 0;
}

.header-content {
  text-align: center;
}

.prices {
  background-color: #fbfafd;
  padding: 3% 0;
}

.prices i {
  font-size: 50px;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.prices h2 {
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 2%;
}

#quote {
  margin: 0 20%;
}

.quote .button {
  display: block;
  margin: 0 auto;
}



/* ============================ */
/* Blog Specific Styles */
/* ============================ */

.blog {
  background-color: #fbfafd;
}

.blog-main {
  margin: 2% auto;
}

.blog-form {
  padding: 3% 0;
}

.card-img-top img {
    height: 60%;
}

/* .thumbnail {
    padding: 0;
} */

.thumbnail .caption-full {
    padding: 9px;
}
.our-company {
  text-align: center;
}
.purple-section {
  color: white;
}
