<% include ../partials/header %>


<div class="block -berry edge--bottom">
  <h1>Bottom Angled Edge</h1>
</div>

<div class="block -blue edge--bottom--reverse">
  <h1>Bottom Angled Edge</h1>
  <p>Reversed</p>
</div>

<div class="block -orange edge--both">
  <h1>Top & Bottom Angled Edges</h1>
</div>

<div class="block -blue edge--bottom--reverse">
  <h1>Bottom Angled Edge</h1>
  <p>Reversed</p>
</div>


<% include ../partials/footer %>
