<% include ../partials/header %>

<div class="header-image">
  <div class="header-container">
    <h2 class="header-content">Application Showcase</h2>
    <p class="header-content">Examples of applications that we have created for previous clients!</p>
  </div>
</div>


<% include ../partials/footer %>
