<% include ../partials/header %>

<div class="header-image">
  <div class="header-container">
    <h2 class="header-content">Application Showcase</h2>
    <p class="header-content">Curious to know what we've previously developed? Take a look at the previous projects we have taken on for yourself!</p>
  </div>
</div>


<% include ../partials/footer %>
